## General
.cvs
.htaccess
.svn
*.bak
*.log
*.swp

## Windows
Desktop.ini
Thumbs.db

## Mac
.DS_Store

## Development
bower_components
node_modules

## Project specific
contents/img/backgrounds/
contents/projects/
build/
.grunt/
test.html
draft.md
