// Base colour definitions
base-color-1        ?= #2B7896
base-color-2        ?= #EF993D
base-color-3        ?= #FFD300
base-color-bg       ?= #EEEEEE
base-color-body     ?= #222222
base-color-body-bg  ?= #FFFFFF

// Colour scheme
c-bg                = base-color-bg
c-body              = base-color-body
c-body-bg           = base-color-body-bg

c-link              = base-color-1
c-link-active       = c-link + 50%
c-link-focus        = c-link - 30%
c-link-hover        = c-link + 25%
c-link-visited      = c-link - 20%

c-abbr              = c-body + 20%
c-code              = c-body-bg - 5%
c-figcaption        = c-body + 20%
c-ins               = c-body + 50%
c-hr                = c-body-bg - 20%

c-header            = c-body + 10%
