// Colour scheme
c-background      = #fff
c-body            = #333

c-link            = #119
c-link-active     = c-link + 75%
c-link-focus      = c-link - 50%
c-link-hover      = c-link + 50%
c-link-visited    = c-link - 25%

c-abbr            = c-body + 20%
c-code            = c-background - 5%
c-ins             = c-body + 50%
c-hr              = c-background - 40%

c-header          = c-body + 10%

c-avatar          = c-link - 25%
