// Base colour definitions
base-color-1      ?= #1240AB
base-color-2      ?= #FF7400
base-color-3      ?= #FFD300
base-color-bg     ?= #FFFFFF
base-color-body   ?= #222222

// Colour scheme
c-bg              = base-color-bg
c-body            = base-color-body

c-link            = base-color-1
c-link-active     = c-link + 60%
c-link-focus      = c-link - 50%
c-link-hover      = c-link + 40%
c-link-visited    = c-link - 30%

c-abbr            = c-body + 20%
c-code            = c-bg - 5%
c-ins             = c-body + 50%
c-hr              = c-bg - 40%

c-header          = c-body + 10%

c-avatar          = base-color-2
