// Nib: https://github.com/visionmedia/nib
@import "nib"

// Normalize: https://github.com/necolas/normalize.css
@import "normalize"

// Simple semantic grid configuration from Fluidity: http://fluiditycss.com/
grid-width = 960px
grid-min-width = 320px
@import "grid"

// Development mode true or false?
dev = false

// Vertical rhythm inspired by Compass (but mostly original)
base-line-height = 35px
base-font-size = 20px
@import "rhythm"

// Self-explanatory
@import "colour"
//@import "type"
@import "global"

// Layout
#body-wrap
  grid()

#header
  margin space() 0 space()

#nav-main
  float left
  ul
    list-style-type none
    li
      float left
      padding 0 space() 0 0
      text-transform uppercase
      a
        text-decoration none
      &:hover
        //background c-bg - 5%

#main article
  margin-left space(4)

.content-wrap
  clearfix()

.avatar img
  border 3px solid c-avatar
  border-radius(space(3))
  float left
  height space(3)
  margin-right space()
  width space(3)
  &:hover
    border-color c-avatar + 20%

#footer
  scale 8
  margin space(,,8) 0 0 space(4,,8)

// Temporary test content
#typography
  .headings
    grid-space(33%)
  .headings-example
    grid-space(23%)
  .paragraphs
    grid-space(44%)
  .lists-1
    grid-space(33%)
  .lists-2
    grid-space(33%)
  .lists-3
    grid-space(34%)
  .blockquotes
    grid-space(33%)
  .code-blocks
    grid-space(33%)
  .address-blocks
    grid-space(33%)