// Development mode true or false?
dev = false

// Nib: https://github.com/visionmedia/nib
@import "nib"

// Normalize: https://github.com/necolas/normalize.css
@import "normalize"

// Simple semantic grid configuration from Fluidity: http://fluiditycss.com/
grid-width = 960px
grid-min-width = 320px
@import "grid"

// Vertical rhythm inspired by Compass (but mostly original)
base-line-height = 35px
base-font-size = 20px
@import "rhythm"

// Colour scheme
//base-color-1 = #0A64A4
@import "colour"

// Type: use pre-defined stacks or define your own here; base-font-body, base-font-header, and base-font-monospace
base-font-body = stack-open
base-font-header = unquote('"Russo One", ' + stack-tahoma)
@import "type"

// Self-explanatory
@import "global"

// Layout
#body-wrap
  grid()

#header
  margin space() 0 space()

#nav-main
  float left
  ul
    list-style-type none
    margin-left space(-0.5)
    li
      float left
      font-weight bold
      padding 0 space(0.5) 0 space(0.5)
      text-transform uppercase
      a
        text-decoration none
        &:hover
          text-shadow 1px 1px 3px rgba(0,0,0,0.2)
          transition text-shadow .5s ease-out
    .active
      background #fff

#main article
  margin-left space(4)

.content-wrap
  clearfix()

.avatar
  border-radius(space(3))
  box-shadow inset 0px 0px 25px rgba(0,0,0,0.75)
  float left
  height space(3)
  width space(3)
  margin-right space()
  &:hover
    box-shadow inset 0px 0px 25px rgba(255,255,255,0.5)

.avatar img
  border-radius(space(3))
  height space(3)
  position relative
  width space(3)
  z-index -1
  &:hover
    border-color c-avatar + 20%

#footer
  scale 8
  margin space(,,8) 0 0 space(4,,8)
