extends layout

block prepend title
  | #{ page.title + " - "}

block content
  header
    h1= page.title
  article
    section!= typogr(page.html).typogrify()

block prepend footer
  nav
    a(href=contents.index.url + 'projects') &laquo; See more projects
